abstract=Ontology to describe person, location etc. observations in archival resources. One or multiple observations can be bundled into a reconstruction that combines complementary (or sometimes conflicting) information from the observation(s) so that a single entity is reconstructed out of several entity observations from one or multiple sources. ontologyTitle=Reconstructions and Observations in Archival Resources ontologyPrefix=roar ontologyNamespaceURI=https://w3id.org/roar# ontologyName=roar thisVersionURI=
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=
licenseURI=https://creativecommons.org/licenses/by-sa/4.0/ licenseName=CC BY-SA 4.0 licenseIconURL=
citeAs=
DOI=
status=Ontology Specification Draft backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Menno den Engelse;Leon van Wissen authorsURI=
authorsInstitution=Hic Sunt Leones, The Netherlands;University of Amsterdam, The Netherlands authorsInstitutionURI=https://www.hicsuntleones.nl/;https://fgw.uva.nl/ contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=sem;bio;schema;pnv;prov;edm importedOntologyURIs=http://semanticweb.cs.vu.nl/2009/11/sem/;http://purl.org/vocab/bio/;http://schema.org/;https://w3id.org/pnv#;http://www.w3.org/ns/prov#;http://www.europeana.eu/schemas/edm/ extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=roar.rdf TurtleSerialization=roar.ttl N3Serialization=roar.nt JSONLDSerialization=roar.json
