abstract=Ontology to account for multiple Person/Location/Event etc. observations in archival resources, with the possibility to express a (corrected) Reconstruction of these entities, based on one or several observations. A2A can be mapped to this quite easily.
ontologyTitle=Reconstructions and Observations in Archival Resources
ontologyPrefix=roar
ontologyNamespaceURI=https://w3id.org/roar#
ontologyName=roar
thisVersionURI=
latestVersionURI=
previousVersionURI=
dateOfRelease=
ontologyRevisionNumber=
licenseURI=https://creativecommons.org/licenses/by-sa/4.0/
licenseName=CC BY-SA 4.0
licenseIconURL=
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Menno den Engelse;Leon van Wissen
authorsURI=
authorsInstitution=Hic Sunt Leones, The Netherlands;University of Amsterdam, The Netherlands
authorsInstitutionURI=https://www.hicsuntleones.nl/;https://fgw.uva.nl/
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=sem;bio;schema;pnv;prov
importedOntologyURIs=http://semanticweb.cs.vu.nl/2009/11/sem/;http://purl.org/vocab/bio/;http://schema.org/;https://w3id.org/pnv#;http://www.w3.org/ns/prov#
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=roar.rdf
TurtleSerialization=roar.ttl
N3Serialization=roar.nt
JSONLDSerialization=roar.json
